
.container { 
    height: 50%;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 90%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .vertical-center .child{
    margin: auto;
    right:0px;
    width:300px
   }