h1,
p {
  font-family: Lato;
}

.slick-prev:before,
.slick-next:before {
  color: blue !important;
}

.slick-slider{
  height: 100%;
  max-height: 170px;
}

.mobile-view-carousel  .slick-next {
  right: -15px !important;
}


.mobile-view-carousel  .slick-prev {
  left: -15px !important;
}